html, body {
    width: 100%;
    height: 100%;
}

#banner {
    height: 80%;
    width: 100%
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url("../images/artmay-banner.jpg");
    /*background-attachment: fixed;*/
}

@media (max-width: 575px) {
    #banner {
        background-attachment: scroll;
    }
}

#banner-fg {
    height: 100%;
    text-align: center;
    /*background-color: rgba(26, 79, 134, 0.61)*/
}

.banner-text {
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);
    color: #fff;
}

#banner-fg a:active {
    color: white;
}

.logo-first {
    color: #5cb85c;
    font-weight: bold;
}

.logo-last {
    color: #0275d8;
    font-weight: bold;
}

.navbar-offset {
    font-size: 2rem;
    border-bottom: solid;
    margin-top: -7rem;
    margin-bottom: 2rem;
    padding-top: 5rem;
    padding-bottom: 0.25rem;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: coral;
}

#fang-zhu {
    float: left;
}

.os-title {
    font-size: 2rem;
}

section {
    margin-top: 4rem;
}

section h2 {
    margin-bottom: 2rem;
}

#feature~.row {
    margin-bottom: 3rem;
}

.card {
    border: none;
    margin-top: 1rem;
    margin-right: 0.75rem;
}

.rotate-20 {
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari */
    transform: rotate(20deg);
}

.rotate-340 {
    -ms-transform: rotate(340deg);
    /* IE 9 */
    -webkit-transform: rotate(340deg);
    /* Safari */
    transform: rotate(340deg);
}

.rotate-350 {
    -ms-transform: rotate(350deg);
    /* IE 9 */
    -webkit-transform: rotate(350deg);
    /* Safari */
    transform: rotate(350deg);
}

.seal {
    border: 3px solid #0275d8;
    border-radius: .3rem;
}

footer {
    margin-top: 4rem;
    background-color: #f7f7f7;
    padding: 4rem;
    color: gray;
}

#our-story {
    height: 70%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../images/Artmay-3.jpg");
    background-attachment: fixed;
    margin-top: 4rem;
    /*padding-top: 2rem;*/
    /*padding-bottom: auto;*/
}

@media (max-width:600px) {
    .about {
        display: none;
    }
    .pic {
        padding-top: 5rem;
        /*padding-left: 2rem;*/
        float: left;
        margin-right: 2rem;
        padding-left: 0rem;
    }
    .cards {
        width: 50%;
        margin-top: 2rem;
    }
    #footer_links {
      /*display:inline-table;*/
      /*margin-left: 40%;*/

    }

    .ft-nav-link::after {
      clear: both;
    }
    .ft-nav-link {
      color: #787878;
      font-size: 20px;
      margin-left: 2%;
      display: block;
      float: left;
    }

    .ft-nav-link:hover {
      color: #232323;
    }

    .foot{
      margin-top: 3rem;

    }
    #footer_social_icons {

      /*margin-left: 10%;*/
      margin-right: auto;
      margin-left: auto;
      /*display: inline;*/
      /*float: left;*/
    }
    #footer_artmay_icon{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}

.title {
    padding-top: 4rem;
}
.intro{
  display: block;
}
.about {
    /*margin-left: 2rem;*/
    float: left;
    border-right: solid;
    border-color: rgb(204, 122, 26);
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.detail {
    padding-top: 1rem;
}

@media (min-width:600px) {
    .pic {
        padding-top: 5rem;
        padding-left: 2rem;
        float: left;
        margin-right: 2rem;
    }
    .cards {
        height: 50%;
        width: 19%;
    }
    #footer_links {
      display: block;
    }
    .ft-nav-link {
      color: #787878;
      font-size: 0px;
      margin-left: 2%;
      display: block;
    }

    .ft-nav-link:hover {
      color: #232323;
    }

    .foot{
      margin-top: 3rem;
    }
    #footer_social_icons {
      margin-left: 10%;
      margin-right: auto;
      /*display: inline;*/
      float: left;
    }
}

.intro-title {
    margin-top: 2rem;
}

.container {
    padding-top: 3rem;
    display: -webkit-flex;
    display: flex;
}

.describe {
    margin-top: 2rem;
}

.items {
    float: left;
    padding-top: 2rem;
}
.items ::after{
  clear: left;
}
#footer {
  height: 40%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: contain;
  -o-background-size: cover;
  background-position: bottom;
  background-image: url("../images/ft_bg.jpg");
  background-attachment: fixed;
  padding-top: auto;
  padding-bottom: auto;
  /*display: flex;*/
}
